# Add trial labels

Brief 1-2 sentence description of notebook.

In [1]:
import os
import glob
import git
import sys

In [2]:
# Imports of all used packages and libraries
import numpy as np
import pandas as pd
# import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import h5py
from scipy.interpolate import interp1d
from scipy.signal import savgol_filter

In [3]:
git_repo = git.Repo(".", search_parent_directories=True)
git_root = git_repo.git.rev_parse("--show-toplevel")

In [4]:
git_root

'/nancy/projects/reward_competition_extention'

In [5]:
sys.path.insert(0, os.path.join(git_root, 'src'))

In [6]:
# sns.set('notebook', 'ticks', font_scale=1.2)
mpl.rcParams['figure.figsize'] = [15,6]

## Functions

## Inputs & Data

Explanation of each input and where it comes from.

## Outputs

Describe each output that the notebook creates.

- Is it a plot or is it data?

- How valuable is the output and why is it valuable or useful?

In [7]:
# Inputs and Required data loading
# input varaible names are in all caps snake case
# Whenever an input changes or is used for processing 
# the vairables are all lower in snake case
OUTPUT_DIR = r"./proc/" # where data is saved should always be shown in the inputs
os.makedirs(OUTPUT_DIR, exist_ok=True)
OUTPUT_PREFIX = "rce_pilot_2"

In [8]:
FULL_LFP_TRACES_PKL = "{}_03_spectral_trial_labels.pkl".format(OUTPUT_PREFIX)

## Processing

In [9]:
subject_start_stop_frames = pd.read_excel("rce_per_subject_start_stop_video_frame.xlsx")
subject_start_stop_frames = subject_start_stop_frames.dropna(subset=["file_path"])

In [10]:
subject_start_stop_frames["sleap_name"] = subject_start_stop_frames["file_path"].apply(lambda x: os.path.basename(x))
subject_start_stop_frames["video_name"] = subject_start_stop_frames["file_path"].apply(lambda x: ".".join(os.path.basename(x).split(".")[:2]))
subject_start_stop_frames["start_frame"] = subject_start_stop_frames["start_frame"].astype(int)
subject_start_stop_frames["stop_frame"] = subject_start_stop_frames["stop_frame"].astype(int)

In [11]:
subject_start_stop_frames = subject_start_stop_frames.drop(columns=["file_path", "notes", "in_video_subjects"], errors="ignore")

In [12]:
subject_start_stop_frames["video_name"].unique()

array(['20221214_125409_om_and_comp_6_1_and_6_3.1',
       '20221215_145401_comp_amd_om_6_1_and_6_3.1',
       '20230612_112630_standard_comp_to_training_D1_subj_1-2_and_1-1.1',
       '20230612_112630_standard_comp_to_training_D1_subj_1-2_and_1-1.2',
       '20230613_105657_standard_comp_to_training_D2_subj_1-1_and_1-4.1',
       '20230613_105657_standard_comp_to_training_D2_subj_1-1_and_1-4.2',
       '20230614_114041_standard_comp_to_training_D3_subj_1-1_and_1-2.1',
       '20230614_114041_standard_comp_to_training_D3_subj_1-1_and_1-2.2',
       '20230614_114041_standard_comp_to_training_D3_subj_1-1_and_1-2.3',
       '20230616_111904_standard_comp_to_training_D4_subj_1-4_and_1-2.1',
       '20230616_111904_standard_comp_to_training_D4_subj_1-4_and_1-2.2',
       '20230617_115521_standard_comp_to_omission_D1_subj_1-1_and_1-2.1',
       '20230617_115521_standard_comp_to_omission_D1_subj_1-1_and_1-2.3',
       '20230618_100636_standard_comp_to_omission_D2_subj_1-4_and_1-1.1',
       '20230618_100636_standard_comp_to_omission_D2_subj_1-4_and_1-1.2',
       '20230619_115321_standard_comp_to_omission_D3_subj_1-2_and_1-4.3',
       '20230619_115321_standard_comp_to_omission_D3_subj_1-2_and_1-4.4',
       '20230620_114347_standard_comp_to_omission_D4_subj_1-2_and_1-1.1',
       '20230620_114347_standard_comp_to_omission_D4_subj_1-2_and_1-1.2',
       '20230621_111240_standard_comp_to_omission_D5_subj_1-4_and_1-2.1',
       '20230621_111240_standard_comp_to_omission_D5_subj_1-4_and_1-2.2',
       '20230622_110832_standard_comp_to_both_rewarded_D1_subj_1-1_and_1-2.1',
       '20230623_114932_standard_comp_to_both_rewarded_D2_subj_1-4_and_1-1.1',
       '20230623_114932_standard_comp_to_both_rewarded_D2_subj_1-4_and_1-1.2',
       '20230624_105855_standard_comp_to_both_rewarded_D3_subj_1-2_and_1-4.1',
       '20230625_112913_standard_comp_to_both_rewarded_D4_subj_1-1_and_1-4.1',
       '20230628_111202_standard_comp_to_novel_agent_D1_subj_1-1vs2-2and1-2vs2-1.1',
       '20230628_111202_standard_comp_to_novel_agent_D1_subj_1-1vs2-2and1-2vs2-1.2',
       '20230628_111202_standard_comp_to_novel_agent_D1_subj_1-1vs2-2and1-2vs2-1.3',
       '20230628_111202_standard_comp_to_novel_agent_D1_subj_1-1vs2-2and1-2vs2-1.4',
       '20230629_111937_standard_comp_to_novel_agent_D2_subj_1-1vs2-1and1-4vs2-2.1',
       '20230629_111937_standard_comp_to_novel_agent_D2_subj_1-1vs2-1and1-4vs2-2.2',
       '20230630_115506_standard_comp_to_novel_agent_D3_subj_1-4vs2-1and1-2vs2-2.1',
       '20230630_115506_standard_comp_to_novel_agent_D3_subj_1-4vs2-1and1-2vs2-2.2'],
      dtype=object)

In [13]:
subject_start_stop_frames.head()

,start_frame,stop_frame,tracked_subject,sleap_name,video_name
0,1,25000,6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1
1,27500,73600,6.1_6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1
2,51500,76454,6.3,20221215_145401_comp_amd_om_6_1_and_6_3.1.fixe...,20221215_145401_comp_amd_om_6_1_and_6_3.1
3,1,48500,6.1_6.3,20221215_145401_comp_amd_om_6_1_and_6_3.1.fixe...,20221215_145401_comp_amd_om_6_1_and_6_3.1
4,32700,68257,1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...

In [14]:
subject_start_stop_frames["current_subject"] = subject_start_stop_frames["tracked_subject"].apply(lambda x: str(x).split("_"))

In [15]:
subject_start_stop_frames = subject_start_stop_frames.explode("current_subject")

In [16]:
subject_start_stop_frames.head()

,start_frame,stop_frame,tracked_subject,sleap_name,video_name,current_subject
0,1,25000,6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1,6.3
1,27500,73600,6.1_6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1,6.1
1,27500,73600,6.1_6.3,20221214_125409_om_and_comp_6_1_and_6_3.1.fixe...,20221214_125409_om_and_comp_6_1_and_6_3.1,6.3
2,51500,76454,6.3,20221215_145401_comp_amd_om_6_1_and_6_3.1.fixe...,20221215_145401_comp_amd_om_6_1_and_6_3.1,6.3
3,1,48500,6.1_6.3,20221215_145401_comp_amd_om_6_1_and_6_3.1.fixe...,20221215_145401_comp_amd_om_6_1_and_6_3.1,6.1

In [21]:
TRIAL_LABELS_DF = pd.read_excel("./rce_pilot_2_per_video_trial_labels.xlsx")
TRIAL_LABELS_DF = TRIAL_LABELS_DF.rename(columns={col: col.strip().lower() for col in TRIAL_LABELS_DF.columns})
TRIAL_LABELS_DF = TRIAL_LABELS_DF.dropna(subset=["condition"])
TRIAL_LABELS_DF["tone_start_timestamp"] = TRIAL_LABELS_DF["tone_start_timestamp"].astype(np.int64)
TRIAL_LABELS_DF["tone_stop_timestamp"] = TRIAL_LABELS_DF["tone_stop_timestamp"].astype(np.int64)
TRIAL_LABELS_DF["video_name"] = TRIAL_LABELS_DF["video_name"].apply(lambda x: ".".join(os.path.basename(x).split(".")[:2]))

TRIAL_LABELS_DF["tone_start_frame"] = TRIAL_LABELS_DF["tone_start_frame"].astype(int)
TRIAL_LABELS_DF["reward_start_frame"] = TRIAL_LABELS_DF["reward_start_frame"].astype(int)
TRIAL_LABELS_DF["tone_stop_frame"] = TRIAL_LABELS_DF["tone_stop_frame"].astype(int)


TRIAL_LABELS_DF = TRIAL_LABELS_DF.drop(columns=[col for col in TRIAL_LABELS_DF.columns if "unnamed" in col], errors="ignore")
TRIAL_LABELS_DF = TRIAL_LABELS_DF.drop(columns=[col for col in TRIAL_LABELS_DF.columns if "box" in col], errors="ignore")

In [22]:
TRIAL_LABELS_DF.head()

,video_name,tone_start_frame,reward_start_frame,tone_stop_frame,condition,competition_closeness,notes,experiment,session_dir,all_subjects,first_timestamp,last_timestamp,tone_start_timestamp,tone_stop_timestamp
1,20230612_101430_standard_comp_to_training_D1_s...,980,1080,1181,1.4,Subj 2 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,982229,1182226
2,20230612_101430_standard_comp_to_training_D1_s...,3376,3476,3575,1.3,Subj 1 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,3382227,3582224
3,20230612_101430_standard_comp_to_training_D1_s...,5672,5772,5871,1.4,Subj 2 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,5682225,5882222
4,20230612_101430_standard_comp_to_training_D1_s...,7468,7568,7668,1.4,Subj 2 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,7482224,7682221
5,20230612_101430_standard_comp_to_training_D1_s...,8566,8666,8765,1.4,Subj 2 Only,NaN,standard,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8798886.0,77093151.0,8582220,8782223

In [23]:
merged_df = pd.merge(subject_start_stop_frames, TRIAL_LABELS_DF, on="video_name", how="inner")

In [25]:
merged_df = merged_df.dropna(subset=["current_subject"])

merged_df = merged_df[(merged_df['tone_start_frame'] > merged_df['start_frame']) & (merged_df['tone_start_frame'] < merged_df['stop_frame'])]

In [26]:
merged_df = merged_df.drop(columns=["start_frame", "stop_frame"], errors="ignore")
merged_df = merged_df.drop(columns=["first_timestamp", "last_timestamp"], errors="ignore")
merged_df = merged_df.drop(columns=["box_1_port_entry_frames", "box_2_port_entry_frames"], errors="ignore")
merged_df = merged_df.drop(columns=['box_1_port_entry_timestamps', 'box_2_port_entry_timestamps'], errors="ignore")

In [27]:
merged_df = merged_df.sort_values(by=["session_dir", "current_subject", "tone_start_timestamp"]).reset_index(drop=True)

In [28]:
merged_df.columns

Index(['tracked_subject', 'sleap_name', 'video_name', 'current_subject',
       'tone_start_frame', 'reward_start_frame', 'tone_stop_frame',
       'condition', 'competition_closeness', 'notes', 'experiment',
       'session_dir', 'all_subjects', 'tone_start_timestamp',
       'tone_stop_timestamp'],
      dtype='object')

In [29]:
merged_df.head()

,tracked_subject,sleap_name,video_name,current_subject,tone_start_frame,reward_start_frame,tone_stop_frame,condition,competition_closeness,notes,experiment,session_dir,all_subjects,tone_start_timestamp,tone_stop_timestamp
0,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,1125,1225,1324,1.1,Subj 1 blocking Subj 2,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",1126742,1326741
1,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,3519,3619,3720,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",3526740,3726740
2,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,5815,5915,6014,1.2,Subj 2 blocking Subj 1,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",5826740,6026737
3,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,7612,7712,7811,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",7626736,7826735
4,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,8709,8809,8910,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",8726734,8926734

In [25]:
non_competitive_labels = ['rewarded', 'omission', 'both_rewarded']

In [26]:
merged_df["current_subject"] = merged_df["current_subject"].astype(str)
merged_df["condition"] = merged_df["condition"].astype(str)

In [27]:
merged_df["trial_label"] = merged_df.apply(lambda x: x["condition"] if x["condition"] in non_competitive_labels else ("win" if x["condition"] == x["current_subject"] else "lose"), axis=1)

In [28]:
merged_df

,tracked_subject,sleap_name,video_name,current_subject,tone_start_frame,reward_start_frame,tone_stop_frame,condition,competition_closeness,notes,experiment,session_dir,all_subjects,tone_start_timestamp,tone_stop_timestamp,trial_label
0,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,1125,1205,1324,1.1,Subj 1 blocking Subj 2,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",1126742,1326741,win
1,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,3519,3599,3720,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",3526740,3726740,lose
2,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,5815,5895,6014,1.2,Subj 2 blocking Subj 1,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",5826740,6026737,lose
3,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,7612,7692,7811,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",7626736,7826735,lose
4,1.1_1.2,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,1.1,8709,8789,8910,1.2,Subj 2 Only,NaN,standard,20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']",8726734,8926734,lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,65186,65266,65386,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",64304011,64504015,both_rewarded
825,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,66684,66764,66883,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",65804029,66004033,both_rewarded
826,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,68680,68760,68879,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",67804057,68004058,both_rewarded
827,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,70576,70656,70775,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",69704075,69904080,both_rewarded
828,1.1_1.4,20230625_112913_standard_comp_to_both_rewarded...,20230625_112913_standard_comp_to_both_rewarded...,1.4,71574,71654,71774,both_rewarded,NaN,NaN,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"['1.1', '1.4']",70704093,70904092,both_rewarded

In [29]:
merged_df.to_excel("rce2_finalized_trial_labels.xlsx", index=False)

# TODO
- Merge recording file name
- Make a dictionary of trial labels 
- Add box number to sheet

In [30]:
trodes_metadata_df = pd.read_pickle("./rce_pilot_2_00_trodes_metadata.pkl")
trodes_metadata_df["video_name"] = trodes_metadata_df["video_name"].apply(lambda x: ".".join(os.path.basename(x).split(".")[:2]))

In [31]:
trodes_metadata_df = trodes_metadata_df.drop(columns = ["first_timestamp", "last_timestamp", "tone_timestamps", "tone_frames"], errors="ignore")

In [32]:
trodes_metadata_df = trodes_metadata_df.drop(columns=["all_subjects"], errors="ignore")

In [33]:
trodes_metadata_df.head()

,session_dir,box_1_port_entry_frames,box_2_port_entry_frames,video_name,session_path,recording,current_subject,video_timestamps,box_1_port_entry_timestamps,box_2_port_entry_timestamps
0,20230612_101430_standard_comp_to_training_D1_s...,"[[490, 514], [518, 558], [558, 637], [638, 640...","[[33137, 33147], [33665, 33666], [33668, 33669...",20230612_101430_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_101430_standard_comp_to_training_D1_s...,1.3,"[-2, 1384, 2770, 4156, 4156, 5542, 6928, 6928,...","[[491029, 515227], [519426, 558629], [559427, ...","[[33082200, 33090003], [33565003, 33567000], [..."
1,20230612_101430_standard_comp_to_training_D1_s...,"[[490, 514], [518, 558], [558, 637], [638, 640...","[[33021, 33027], [33502, 33503], [33504, 33506...",20230612_101430_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_101430_standard_comp_to_training_D1_s...,1.3,"[-2, 1384, 2770, 4156, 4156, 5542, 6928, 6928,...","[[491029, 515227], [519426, 558629], [559427, ...","[[33082200, 33090003], [33565003, 33567000], [..."
2,20230612_101430_standard_comp_to_training_D1_s...,"[[490, 514], [518, 558], [558, 637], [638, 640...","[[33137, 33147], [33665, 33666], [33668, 33669...",20230612_101430_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_101430_standard_comp_to_training_D1_s...,1.4,"[-2, 1384, 2770, 4156, 4156, 5542, 6928, 6928,...","[[491029, 515227], [519426, 558629], [559427, ...","[[33082200, 33090003], [33565003, 33567000], [..."
3,20230612_101430_standard_comp_to_training_D1_s...,"[[490, 514], [518, 558], [558, 637], [638, 640...","[[33021, 33027], [33502, 33503], [33504, 33506...",20230612_101430_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_101430_standard_comp_to_training_D1_s...,1.4,"[-2, 1384, 2770, 4156, 4156, 5542, 6928, 6928,...","[[491029, 515227], [519426, 558629], [559427, ...","[[33082200, 33090003], [33565003, 33567000], [..."
4,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [..."

In [34]:
final_trials_df = pd.merge(trodes_metadata_df, merged_df, on=["video_name", "current_subject", "session_dir"], how="inner")

In [35]:
final_trials_df

,session_dir,box_1_port_entry_frames,box_2_port_entry_frames,video_name,session_path,recording,current_subject,video_timestamps,box_1_port_entry_timestamps,box_2_port_entry_timestamps,...,reward_start_frame,tone_stop_frame,condition,competition_closeness,notes,experiment,all_subjects,tone_start_timestamp,tone_stop_timestamp,trial_label
0,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,1205,1324,1.1,Subj 1 blocking Subj 2,NaN,standard,"['1.1', '1.2']",1126742,1326741,win
1,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,3599,3720,1.2,Subj 2 Only,NaN,standard,"['1.1', '1.2']",3526740,3726740,lose
2,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,5895,6014,1.2,Subj 2 blocking Subj 1,NaN,standard,"['1.1', '1.2']",5826740,6026737,lose
3,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,7692,7811,1.2,Subj 2 Only,NaN,standard,"['1.1', '1.2']",7626736,7826735,lose
4,20230612_112630_standard_comp_to_training_D1_s...,"[[192, 248], [389, 405], [916, 929], [929, 948...","[[33019, 33020], [33246, 33251], [33253, 33255...",20230612_112630_standard_comp_to_training_D1_s...,/scratch/back_up/reward_competition_extention/...,20230612_112630_standard_comp_to_training_D1_s...,1.1,"[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[192745, 249350], [389747, 407142], [917544, ...","[[33037711, 33038706], [33264908, 33270313], [...",...,8789,8910,1.2,Subj 2 Only,NaN,standard,"['1.1', '1.2']",8726734,8926734,lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,65266,65386,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",64304011,64504015,both_rewarded
745,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,66764,66883,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",65804029,66004033,both_rewarded
746,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,68760,68879,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",67804057,68004058,both_rewarded
747,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,70656,70775,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",69704075,69904080,both_rewarded
748,20230625_112913_standard_comp_to_both_rewarded...,"[[308, 312], [1165, 1194], [1557, 1571], [1643...",[],20230625_112913_standard_comp_to_both_rewarded...,/scratch/back_up/reward_competition_extention/...,20230625_112913_standard_comp_to_both_rewarded...,1.4,"[1384, 2770, 2770, 4156, 5542, 6928, 6928, 831...","[[310252, 314054], [1167262, 1196060], [156166...",[],...,71654,71774,both_rewarded,NaN,NaN,both_rewarded,"['1.1', '1.4']",70704093,70904092,both_rewarded

In [36]:
final_trials_df["tone_timestamps"] = final_trials_df.apply(lambda x: [x["tone_start_timestamp"], x["tone_stop_timestamp"]], axis=1)

In [37]:
final_trials_df["tone_frames"] = final_trials_df.apply(lambda x: [x["tone_start_frame"], x["tone_stop_frame"]], axis=1)

In [38]:
final_trials_df = final_trials_df.drop(columns=["tone_start_timestamp", "tone_stop_timestamp", "condition", "tone_start_frame", "tone_stop_frame", "tracked_subject", "reward_start_frame", "notes"], errors="ignore")

In [39]:
grouping_columns = ["session_dir", "current_subject", "trial_label", "experiment"]

In [40]:
non_grouping_columns = set(final_trials_df.columns) - set(grouping_columns)

In [41]:
final_trials_df["tone_timestamps"].iloc[0]

[1126742, 1326741]

In [42]:
grouped_finals_trials_df = final_trials_df.groupby(grouping_columns).agg({
    col: (lambda col: list(col)) if col in ['tone_timestamps', 'tone_frames'] else 'first' for col in non_grouping_columns}).reset_index()

In [43]:
grouped_finals_trials_df["tone_frames"] = grouped_finals_trials_df["tone_frames"].apply(lambda x: np.array(x))
grouped_finals_trials_df["tone_timestamps"] = grouped_finals_trials_df["tone_timestamps"].apply(lambda x: np.array(x))

In [44]:
grouped_finals_trials_df = grouped_finals_trials_df.drop(columns=["competition_closeness"], errors="ignore")

In [45]:
grouped_finals_trials_df.head()

,session_dir,current_subject,trial_label,experiment,recording,sleap_name,tone_timestamps,video_name,all_subjects,video_timestamps,box_2_port_entry_timestamps,box_2_port_entry_frames,tone_frames,session_path,box_1_port_entry_timestamps,box_1_port_entry_frames
0,20230612_112630_standard_comp_to_training_D1_s...,1.1,lose,standard,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,"[[3526740, 3726740], [5826740, 6026737], [7626...",20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']","[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[33037711, 33038706], [33264908, 33270313], [...","[[33019, 33020], [33246, 33251], [33253, 33255...","[[3519, 3720], [5815, 6014], [7612, 7811], [87...",/scratch/back_up/reward_competition_extention/...,"[[192745, 249350], [389747, 407142], [917544, ...","[[192, 248], [389, 405], [916, 929], [929, 948..."
1,20230612_112630_standard_comp_to_training_D1_s...,1.1,rewarded,standard,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,"[[37126704, 37326704], [38326703, 38526703], [...",20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']","[1384, 2531, 2769, 4155, 5541, 6799, 6927, 831...","[[33037711, 33038706], [33264908, 33270313], [...","[[32974, 32976], [33201, 33207], [33208, 33211...","[[37056, 37256], [38254, 38453], [39352, 39552...",/scratch/back_up/reward_competition_extention/...,"[[192745, 249350], [389747, 407142], [917544, ...","[[192, 248], [389, 405], [916, 930], [930, 948..."
2,20230612_112630_standard_comp_to_training_D1_s...,1.1,win,standard,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,"[[1126742, 1326741], [22826720, 23026720], [24...",20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']","[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[33037711, 33038706], [33264908, 33270313], [...","[[33019, 33020], [33246, 33251], [33253, 33255...","[[1125, 1324], [22784, 22983], [24680, 24879],...",/scratch/back_up/reward_competition_extention/...,"[[192745, 249350], [389747, 407142], [917544, ...","[[192, 248], [389, 405], [916, 929], [929, 948..."
3,20230612_112630_standard_comp_to_training_D1_s...,1.2,lose,standard,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,"[[1126742, 1326741], [22826720, 23026720], [24...",20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']","[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[33037711, 33038706], [33264908, 33270313], [...","[[33019, 33020], [33246, 33251], [33253, 33255...","[[1125, 1324], [22784, 22983], [24680, 24879],...",/scratch/back_up/reward_competition_extention/...,"[[192745, 249350], [389747, 407142], [917544, ...","[[192, 248], [389, 405], [916, 929], [929, 948..."
4,20230612_112630_standard_comp_to_training_D1_s...,1.2,rewarded,standard,20230612_112630_standard_comp_to_training_D1_s...,20230612_112630_standard_comp_to_training_D1_s...,"[[37126704, 37326704], [38326703, 38526703], [...",20230612_112630_standard_comp_to_training_D1_s...,"['1.1', '1.2']","[1384, 2444, 2769, 4155, 5541, 6708, 6927, 831...","[[33037711, 33038706], [33264908, 33270313], [...","[[33019, 33020], [33246, 33251], [33253, 33255...","[[37101, 37300], [38299, 38498], [39397, 39597...",/scratch/back_up/reward_competition_extention/...,"[[192745, 249350], [389747, 407142], [917544, ...","[[192, 248], [389, 405], [916, 929], [929, 948..."

In [46]:
grouped_finals_trials_df["tone_timestamps"] = grouped_finals_trials_df["tone_timestamps"].apply(lambda x: x // 20)

In [47]:
grouped_finals_trials_df["trial_label"].unique()

array(['lose', 'rewarded', 'win', 'omission', 'both_rewarded'],
      dtype=object)

In [48]:
dict_from_df = {k1: {k2: v for k2, v in zip(df['trial_label'], df['tone_timestamps'])} for k1, df in grouped_finals_trials_df.groupby('recording')}

In [49]:
dict_from_df

{'20230612_112630_standard_comp_to_training_D1_subj_1-1_t1b3L_box2_merged': {'lose': array([[ 176337,  186337],
         [ 291337,  301336],
         [ 381336,  391336],
         [ 436336,  446336],
         [ 486336,  496336],
         [ 581336,  591336],
         [ 656336,  666336],
         [ 761336,  771336],
         [ 811336,  821336],
         [ 891336,  901336],
         [ 956336,  966336],
         [1021336, 1031336],
         [1071336, 1081336]]),
  'rewarded': array([[1856335, 1866335],
         [1916335, 1926335],
         [1971335, 1981335],
         [2036335, 2046335],
         [2091334, 2101334],
         [2141334, 2151334],
         [2191334, 2201334],
         [2296334, 2306334],
         [2416334, 2426334],
         [2536334, 2546334],
         [2646334, 2656334],
         [2731334, 2741334],
         [2851334, 2861334],
         [2911334, 2921334],
         [2976334, 2986333],
         [3036333, 3046333],
         [3111333, 3121333],
         [3211333, 3221333],
         [3306333, 3316333],
         [3356333, 3366333]]),
  'win': array([[  56337,   66337],
         [1141336, 1151336],
         [1236335, 1246335],
         [1316335, 1326335],
         [1386335, 1396335],
         [1496335, 1506335],
         [1556335, 1566335]])},
 '20230612_112630_standard_comp_to_training_D1_subj_1-2_t2b2L_box1_merged': {'lose': array([[  56337,   66337],
         [1141336, 1151336],
         [1236335, 1246335],
         [1316335, 1326335],
         [1386335, 1396335],
         [1496335, 1506335],
         [1556335, 1566335]]),
  'rewarded': array([[1856335, 1866335],
         [1916335, 1926335],
         [1971335, 1981335],
         [2036335, 2046335],
         [2091334, 2101334],
         [2141334, 2151334],
         [2191334, 2201334],
         [2296334, 2306334],
         [2416334, 2426334],
         [2536334, 2546334],
         [2646334, 2656334],
         [2731334, 2741334],
         [2851334, 2861334],
         [2911334, 2921334],
         [2976334, 2986333],
         [3036333, 3046333],
         [3111333, 3121333],
         [3211333, 3221333],
         [3306333, 3316333],
         [3356333, 3366333]]),
  'win': array([[ 176337,  186337],
         [ 291337,  301336],
         [ 381336,  391336],
         [ 436336,  446336],
         [ 486336,  496336],
         [ 581336,  591336],
         [ 656336,  666336],
         [ 761336,  771336],
         [ 811336,  821336],
         [ 891336,  901336],
         [ 956336,  966336],
         [1021336, 1031336],
         [1071336, 1081336]])},
 '20230613_105657_standard_comp_to_training_D2_subj_1-1_t1b2L_box1_merged': {'lose': array([[45937, 55937]]),
  'rewarded': array([[1845936, 1855936],
         [1905936, 1915936],
         [1960936, 1970936],
         [2025936, 2035936],
         [2080936, 2090936],
         [2130936, 2140936],
         [2180936, 2190936],
         [2285937, 2295936],
         [2405936, 2415936],
         [2525936, 2535936],
         [2635936, 2645936],
         [2720936, 2730937],
         [2840936, 2850936],
         [2900936, 2910935],
         [2965935, 2975935],
         [3025935, 3035935],
         [3100935, 3110935],
         [3200935, 3210935],
         [3295935, 3305935],
         [3345935, 3355935]]),
  'win': array([[ 165937,  175937],
         [ 280937,  290937],
         [ 370937,  380937],
         [ 425937,  435937],
         [ 475937,  485937],
         [ 570937,  580937],
         [ 645937,  655937],
         [ 750937,  760937],
         [ 800937,  810937],
         [ 880937,  890937],
         [ 945937,  955937],
         [1010937, 1020937],
         [1060937, 1070937],
         [1130937, 1140937],
         [1225937, 1235937],
         [1305937, 1315937],
         [1375937, 1385937],
         [1485937, 1495936],
         [1545937, 1555936]])},
 '20230613_105657_standard_comp_to_training_D2_subj_1-4_t4b3L_box2_merged': {'lose': array([[ 165937,  175937],
         [ 280937,  290937],
         [ 370937,  380937],
         [ 425937,  435937],
         [ 475937,  485937],
         [ 570937,  580937],
         [ 645937,  655937],
         [ 750937,  760937],
         [ 800937,  810937],
         [ 880937,  890937],
         [ 945937,  955937],
         [1010937, 1020937],
         [1060937, 1070937],
         [1130937, 1140937],
         [1225937, 1235937],
         [1305937, 1315937],
         [1375937, 1385937],
         [1485937, 1495936],
         [1545937, 1555936]]),
  'rewarded': array([[1845936, 1855936],
         [1905936, 1915936],
         [1960936, 1970936],
         [2025936, 2035936],
         [2080936, 2090936],
         [2130936, 2140936],
         [2180936, 2190936],
         [2285937, 2295936],
         [2405936, 2415936],
         [2525936, 2535936],
         [2635936, 2645936],
         [2720936, 2730937],
         [2840936, 2850936],
         [2900936, 2910935],
         [2965935, 2975935],
         [3025935, 3035935],
         [3100935, 3110935],
         [3200935, 3210935],
         [3295935, 3305935],
         [3345935, 3355935]]),
  'win': array([[45937, 55937]])},
 '20230614_114041_standard_comp_to_training_D3_subj_1-1_t1b3L_box1_merged': {'lose': array([[ 42847,  52847],
         [162847, 172847],
         [422847, 432847],
         [797847, 807847],
         [877847, 887847],
         [942847, 952847]]),
  'rewarded': array([[1842846, 1852846],
         [1902846, 1912846],
         [1957846, 1967846],
         [2022846, 2032846],
         [2077846, 2087846],
         [2127846, 2137846],
         [2177846, 2187846],
         [2282846, 2292846],
         [2402846, 2412847],
         [2522846, 2532846],
         [2632846, 2642846],
         [2717846, 2727846],
         [2837846, 2847846],
         [2897846, 2907846],
         [2962846, 2972846],
         [3022846, 3032846],
         [3097846, 3107846],
         [3197846, 3207846],
         [3292846, 3302846]]),
  'win': array([[ 277847,  287847],
         [ 367847,  377847],
         [ 472847,  482847],
         [ 567847,  577847],
         [ 642847,  652847],
         [ 747847,  757847],
         [1007847, 1017847],
         [1057847, 1067847],
         [1127847, 1137847],
         [1222847, 1232847],
         [1302847, 1312847],
         [1372847, 1382847],
         [1482847, 1492846],
         [1542846, 1552846]])},
 '20230614_114041_standard_comp_to_training_D3_subj_1-2_t2b2L_box2_merged': {'lose': array([[ 277847,  287847],
         [ 367847,  377847],
         [ 472847,  482847],
         [ 567847,  577847],
         [ 642847,  652847],
         [ 747847,  757847],
         [1007847, 1017847],
         [1057847, 1067847],
         [1127847, 1137847],
         [1222847, 1232847],
         [1302847, 1312847],
         [1372847, 1382847],
         [1482847, 1492846],
         [1542846, 1552846]]),
  'rewarded': array([[1842846, 1852846],
         [1902846, 1912846],
         [1957846, 1967846],
         [2022846, 2032846],
         [2077846, 2087846],
         [2127846, 2137846],
         [2177846, 2187846],
         [2282846, 2292846],
         [2402846, 2412847],
         [2522846, 2532846],
         [2632846, 2642846],
         [2717846, 2727846],
         [2837846, 2847846],
         [2897846, 2907846],
         [2962846, 2972846],
         [3022846, 3032846],
         [3097846, 3107846],
         [3197846, 3207846],
         [3292846, 3302846]]),
  'win': array([[ 42847,  52847],
         [162847, 172847],
         [422847, 432847],
         [797847, 807847],
         [877847, 887847],
         [942847, 952847]])},
 '20230616_111904_standard_comp_to_training_D4_subj_1-2_t2b2L_box2_merged': {'lose': array([[ 239400,  249400],
         [ 384400,  394400],
         [ 604400,  614400],
         [ 709400,  719400],
         [ 839400,  849400],
         [1019399, 1029399]]),
  'rewarded': array([[1864399, 1874399],
         [1919399, 1929399],
         [1984399, 1994399],
         [2039399, 2049399],
         [2089399, 2099399],
         [2139399, 2149399],
         [2244399, 2254399],
         [2364399, 2374399],
         [2484399, 2494399],
         [2594399, 2604399],
         [2679398, 2689398],
         [2799398, 2809398],
         [2859398, 2869399],
         [2924398, 2934398],
         [2984398, 2994398],
         [3059398, 3069398],
         [3159398, 3169398],
         [3254398, 3264398],
         [3304398, 3314398]]),
  'win': array([[   4400,   14400],
         [ 124400,  134400],
         [ 329400,  339400],
         [ 434400,  444400],
         [ 529400,  539400],
         [ 759400,  769400],
         [ 904400,  914399],
         [ 969400,  979399],
         [1089400, 1099399],
         [1184399, 1194400],
         [1264399, 1274399],
         [1334399, 1344399],
         [1444399, 1454399],
         [1504399, 1514399]])},
 '20230616_111904_standard_comp_to_training_D4_subj_1-4_t4b3L_box1_merged': {'lose': array([[   4400,   14400],
         [ 124400,  134400],
         [ 329400,  339400],
         [ 434400,  444400],
         [ 529400,  539400],
         [ 759400,  769400],
         [ 904400,  914399],
         [ 969400,  979399],
         [1089400, 1099399],
         [1184399, 1194400],
         [1264399, 1274399],
         [1334399, 1344399],
         [1444399, 1454399],
         [1504399, 1514399]]),
  'rewarded': array([[1804399, 1814399],
         [1864399, 1874399],
         [1919399, 1929399],
         [1984399, 1994399],
         [2039399, 2049399],
         [2089399, 2099399],
         [2139399, 2149399],
         [2244399, 2254399],
         [2364399, 2374399],
         [2484399, 2494399],
         [2594399, 2604399],
         [2679398, 2689398],
         [2799398, 2809398],
         [2859398, 2869399],
         [2924398, 2934398],
         [2984398, 2994398],
         [3059398, 3069398],
         [3159398, 3169398],
         [3254398, 3264398],
         [3304398, 3314398]]),
  'win': array([[ 239400,  249400],
         [ 384400,  394400],
         [ 604400,  614400],
         [ 709400,  719400],
         [ 839400,  849400],
         [1019399, 1029399]])},
 '20230617_115521_standard_comp_to_omission_D1_subj_1-1_t1b3L_box1_merged': {'lose': array([[ 51543,  61543],
         [376543, 386543]]),
  'win': array([[ 171543,  181543],
         [ 286544,  296544],
         [ 431544,  441543],
         [ 481543,  491543],
         [ 576543,  586543],
         [ 651543,  661543],
         [ 756543,  766543],
         [ 806543,  816543],
         [ 886543,  896543],
         [ 951543,  961543],
         [1016543, 1026543],
         [1066543, 1076543],
         [1136543, 1146543],
         [1231543, 1241543],
         [1629023, 1639023],
         [1709023, 1719023],
         [1779023, 1789023],
         [1889023, 1899023],
         [1949023, 1959023]])},
 '20230617_115521_standard_comp_to_omission_D1_subj_1-2_t2b2L_box2_merged': {'lose': array([[ 171543,  181543],
         [ 286544,  296544],
         [ 431544,  441543],
         [ 481543,  491543],
         [ 576543,  586543],
         [ 651543,  661543],
         [ 756543,  766543],
         [ 806543,  816543],
         [ 886543,  896543],
         [ 951543,  961543],
         [1016543, 1026543],
         [1066543, 1076543],
         [1136543, 1146543],
         [1231543, 1241543],
         [1629023, 1639023],
         [1709023, 1719023],
         [1779023, 1789023],
         [1889023, 1899023],
         [1949023, 1959023]]),
  'win': array([[ 51543,  61543],
         [376543, 386543]])},
 '20230618_100636_standard_comp_to_omission_D2_subj_1_1_t1b2L_box2_merged': {'lose': array([[  54962,   64962],
         [ 379962,  389962],
         [ 484962,  494962],
         [ 579962,  589962],
         [ 654962,  664962],
         [1554961, 1564961]]),
  'omission': array([[2294961, 2304961],
         [2909961, 2919961],
         [3209961, 3219961]]),
  'rewarded': array([[1854961, 1864961],
         [1914961, 1924961],
         [1969961, 1979961],
         [2034961, 2044961],
         [2089961, 2099961],
         [2139961, 2149961],
         [2189961, 2199961],
         [2414961, 2424961],
         [2534961, 2544961],
         [2644961, 2654961],
         [2729961, 2739961],
         [2849961, 2859961],
         [2974961, 2984961],
         [3034961, 3044961],
         [3109961, 3119961]]),
  'win': array([[ 174962,  184962],
         [ 289962,  299962],
         [ 434962,  444962],
         [ 759962,  769962],
         [ 809962,  819962],
         [ 889962,  899962],
         [ 954962,  964962],
         [1019962, 1029962],
         [1069962, 1079962],
         [1139962, 1149962],
         [1234962, 1244962],
         [1314962, 1324962],
         [1384962, 1394961],
         [1494962, 1504961]])},
 '20230618_100636_standard_comp_to_omission_D2_subj_1_4_t4b3L_box1_merged': {'lose': array([[ 174962,  184962],
         [ 289962,  299962],
         [ 434962,  444962],
         [ 759962,  769962],
         [ 809962,  819962],
         [ 889962,  899962],
         [ 954962,  964962],
         [1019962, 1029962],
         [1069962, 1079962],
         [1139962, 1149962],
         [1234962, 1244962],
         [1314962, 1324962],
         [1384962, 1394961],
         [1494962, 1504961]]),
  'omission': array([[2294961, 2304961],
         [2909961, 2919961],
         [3209961, 3219961]]),
  'rewarded': array([[1854961, 1864961],
         [1914961, 1924961],
         [1969961, 1979961],
         [2034961, 2044961],
         [2089961, 2099961],
         [2139961, 2149961],
         [2189961, 2199961],
         [2414961, 2424961],
         [2534961, 2544961],
         [2644961, 2654961],
         [2729961, 2739961],
         [2849961, 2859961],
         [2974961, 2984961],
         [3034961, 3044961],
         [3109961, 3119961]]),
  'win': array([[  54962,   64962],
         [ 379962,  389962],
         [ 484962,  494962],
         [ 579962,  589962],
         [ 654962,  664962],
         [1554961, 1564961]])},
 '20230620_114347_standard_comp_to_omission_D4_subj_1-1_t1b2L_box_2_merged': {'lose': array([[ 287865,  297865],
         [ 652870,  662870],
         [ 887873,  897873],
         [1492880, 1502880]]),
  'omission': array([[1967886, 1977886],
         [2412891, 2422892],
         [2907898, 2917898],
         [3207901, 3217901]]),
  'rewarded': array([[1852885, 1862885],
         [1912885, 1922885],
         [2032887, 2042887],
         [2087887, 2097888],
         [2137888, 2147888],
         [2187889, 2197889],
         [2292890, 2302890],
         [2532893, 2542893],
         [2642894, 2652894],
         [2727895, 2737896],
         [2847897, 2857897],
         [2972898, 2982899],
         [3032899, 3042899],
         [3107900, 3117900],
         [3302903, 3312903],
         [3352903, 3362903]]),
  'win': array([[ 377866,  387867],
         [ 432867,  442867],
         [ 482868,  492868],
         [ 577869,  587869],
         [ 757871,  767871],
         [ 807872,  817872],
         [ 952873,  962874],
         [1017874, 1027874],
         [1067875, 1077875],
         [1232877, 1242877],
         [1312878, 1322878],
         [1382879, 1392879],
         [1552881, 1562881]])},
 '20230620_114347_standard_comp_to_omission_D4_subj_1-2_t3b3L_box_1_merged': {'lose': array([[ 377866,  387867],
         [ 432867,  442867],
         [ 482868,  492868],
         [ 577869,  587869],
         [ 757871,  767871],
         [ 807872,  817872],
         [ 952873,  962874],
         [1017874, 1027874],
         [1067875, 1077875],
         [1232877, 1242877],
         [1312878, 1322878],
         [1382879, 1392879],
         [1552881, 1562881]]),
  'omission': array([[1967886, 1977886],
         [2412891, 2422892],
         [2907898, 2917898],
         [3207901, 3217901]]),
  'rewarded': array([[1852885, 1862885],
         [1912885, 1922885],
         [2032887, 2042887],
         [2087887, 2097888],
         [2137888, 2147888],
         [2187889, 2197889],
         [2292890, 2302890],
         [2532893, 2542893],
         [2642894, 2652894],
         [2727895, 2737896],
         [2847897, 2857897],
         [2972898, 2982899],
         [3032899, 3042899],
         [3107900, 3117900],
         [3302903, 3312903],
         [3352903, 3362903]]),
  'win': array([[ 287865,  297865],
         [ 652870,  662870],
         [ 887873,  897873],
         [1492880, 1502880]])},
 '20230621_111240_standard_comp_to_omission_D5_subj_1-4_t3b3L_box1_merged': {'lose': array([[ 244404,  254405],
         [ 359406,  369406],
         [ 449407,  459407],
         [ 504408,  514408],
         [ 554408,  564408],
         [ 649409,  659410],
         [ 724410,  734410],
         [ 829412,  839412],
         [ 879412,  889412],
         [ 959413,  969413],
         [1089415, 1099415],
         [1139415, 1149415],
         [1209416, 1219416],
         [1304417, 1314418],
         [1384419, 1394418],
         [1454419, 1464419],
         [1564421, 1574421],
         [1624421, 1634421]]),
  'omission': array([[1984426, 1994426],
         [2484432, 2494432],
         [2799436, 2809436],
         [3374443, 3384443]]),
  'rewarded': array([[1924425, 1934425],
         [2039426, 2049426],
         [2104427, 2114427],
         [2159428, 2169428],
         [2209428, 2219429],
         [2259429, 2269429],
         [2364430, 2374430],
         [2604433, 2614433],
         [2714434, 2724435],
         [2919437, 2929437],
         [2979438, 2989438],
         [3044439, 3054439],
         [3104439, 3114439],
         [3179440, 3189440],
         [3279441, 3289441],
         [3424443, 3434443]]),
  'win': array([[ 124403,  134403],
         [1024414, 1034414]])},
 '20230622_110832_standard_comp_to_both_rewarded_D1_subj_1-1_t1b3L_box1_merged': {'both_rewarded': array([[2036584, 2046584],
         [2096585, 2106585],
         [2151586, 2161586],
         [2216587, 2226587],
         [2271587, 2281587],
         [2321588, 2331588],
         [2371589, 2381589],
         [2476590, 2486590],
         [2596591, 2606592],
         [2716593, 2726593],
         [2826594, 2836595],
         [2911595, 2921596],
         [3031597, 3041597],
         [3091598, 3101598],
         [3156599, 3166599],
         [3216599, 3226600],
         [3291600, 3301601],
         [3391602, 3401602],
         [3486603, 3496603],
         [3536603, 3546604]]),
  'lose': array([[  56560,   66560],
         [ 176561,  186561],
         [ 291562,  301563],
         [ 381564,  391564],
         [ 436564,  446564],
         [ 486565,  496565],
         [ 581566,  591566],
         [ 656567,  666567],
         [ 761568,  771568],
         [ 811569,  821569],
         [ 891570,  901570],
         [ 956571,  966571],
         [1021572, 1031572],
         [1071572, 1081572],
         [1141573, 1151573],
         [1236574, 1246574],
         [1316575, 1326575],
         [1386576, 1396576],
         [1496578, 1506578],
         [1556578, 1566578]])},
 '20230622_110832_standard_comp_to_both_rewarded_D1_subj_1-2_t3b3L_box1_merged': {'both_rewarded': array([[2036584, 2046584],
         [2096585, 2106585],
         [2151586, 2161586],
         [2216587, 2226587],
         [2271587, 2281587],
         [2321588, 2331588],
         [2371589, 2381589],
         [2476590, 2486590],
         [2596591, 2606592],
         [2716593, 2726593],
         [2826594, 2836595],
         [2911595, 2921596],
         [3031597, 3041597],
         [3091598, 3101598],
         [3156599, 3166599],
         [3216599, 3226600],
         [3291600, 3301601],
         [3391602, 3401602],
         [3486603, 3496603],
         [3536603, 3546604]]),
  'win': array([[  56560,   66560],
         [ 176561,  186561],
         [ 291562,  301563],
         [ 381564,  391564],
         [ 436564,  446564],
         [ 486565,  496565],
         [ 581566,  591566],
         [ 656567,  666567],
         [ 761568,  771568],
         [ 811569,  821569],
         [ 891570,  901570],
         [ 956571,  966571],
         [1021572, 1031572],
         [1071572, 1081572],
         [1141573, 1151573],
         [1236574, 1246574],

In [50]:
import pickle

In [51]:
            
with open('recording_to_label_to_timestamps.pkl', 'wb') as f:
    pickle.dump(dict_from_df, f)

In [52]:
merged_df.to_pickle("rce2_finalized_trial_labels.pkl")

In [53]:
grouped_finals_trials_df.to_pickle("rce2_grouped_finalized_trial_labels.pkl")