# Notebook 1: MED-PC Extracting the Recording Data and Metadata

# Importing the Python Libraries

In [1]:
import sys
import glob
from collections import defaultdict
import os
from datetime import datetime

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from medpc2excel.medpc_read import medpc_read

In [3]:
# setting path
sys.path.append('../../src')

In [4]:
# All the libraries that were created for this repository
import extract.dataframe
import processing.tone
import extract.metadata

# Getting the Metadata from all the MED-PC Recording Files

- Every MED-PC Recording file has Metadata about time, data, subject, group, experiment name, script used, and the MED-PC box number on the top of the recording file. We will first extract that information
    - Metadata can be background information or context about data(or files) that is often different from the actual data that is intended to be recorded.  
        For more information on Metadata: https://en.wikipedia.org/wiki/Metadata

In [5]:
all_med_pc_file = glob.glob("./data/**/*.txt", recursive=True)

- The path of the directory that this notebook is in. This will be where relative paths will be based off of

In [6]:
current_working_directory = os.getcwd()

In [7]:
current_working_directory

'/nancy/projects/reward_competition_extention/results/2023_05_27_cage_2_reward_training'

- All the other files in this directory. If you want to use a folder in here such as the `data` folder, you'd type `./data/{name_of_folder}` where you replace `{name_of_folder}` with the name of the folder without the `{}`. You will do this in the cells following the one below
    - The `./` means the path will reference the current directory that the command is being used from

In [8]:
os.listdir(current_working_directory)

['02_latencies_cage_2.ipynb',
 'proc',
 '.ipynb_checkpoints',
 'data',
 '01_extracting_recording_data_cage_2.ipynb',
 '03_port_entry_precision_cage_2.ipynb']

## NOTE: If you are using your own data, the following path must be changed to the directory where your MED-PC recording files are located(if they are not in the specied folder). It is recommended to create a sub folder in the `data` folder(that is in the same folder as this notebook) for each group of session you want to process and put the recording files in there

- Use the cell below instead if you're using your own data. You must change the cell below by clicking on the cell and then pressing the `esc` key. Then press the `Y` button on your keyboard. If you want to switch it back do the same but press the `R` button instead. This switches it from a cell that is run as if it's code, or back to a cell where it's just treated as text
    - **NOTE: If you are using a different folder, then change the path in the cell below**
    - The asterisk is called a wild card which will tell the computer to find all files/folders that match this pattern. The `*` means that any pattern of any length can be replaced with it. The `**` tells the computer to look in all folders that are in the specified folder. For more information: https://linuxhint.com/bash_wildcard_tutorial/
    - For more information on finding the path of your folder that contains the recording files: https://www.computerhope.com/issues/ch001708.htm

In [9]:
all_med_pc_file = glob.glob("./data/*.txt")

In [10]:
all_med_pc_file[:10]

['./data/2023-05-31_11h49m_Subject 2.2.txt',
 './data/2023-05-28_14h33m_Subject 2.4.txt',
 './data/2023-05-30_10h28m_Subject 2.2.txt',
 './data/2023-06-03_17h13m_Subject 2.2.txt',
 './data/2023-05-26_12h01m_Subject 2.2.txt',
 './data/2023-06-01_10h24m_Subject 2.4.txt',
 './data/2023-05-29_11h42m_Subject 2.1.txt',
 './data/2023-05-27_10h03m_Subject 2.2.txt',
 './data/2023-05-29_10h16m_Subject 2.2.txt',
 './data/2023-05-30_11h47m_Subject 2.4.txt']

- Example of what the MED-PC Recording file looks like

In [11]:
with open(all_med_pc_file[0]) as f:
    lines = f.readlines()
    for line in lines[:20]:
        print(line)

File: C:\MED-PC\Data\2023-05-31_11h49m_Subject 2.2.txt







Start Date: 05/31/23

End Date: 05/31/23

Subject: 2.2

Experiment: reward_competition_extention

Group: CAGE2

Box: 3

Start Time: 11:49:01

End Time: 12:53:07

MSN: CD1_reward_training

A:    4399.000

D:    9000.000

E:       0.000

L:       0.000

M:       0.000

O:       0.000

T:    3660.000

- We will be extracting the first 10 or so lines that look like:

```
File: C:\MED-PC\Data\2022-05-06_12h59m_Subject 3.4 (2).txt

Start Date: 05/06/22

End Date: 05/06/22

Subject: 3.4 (2)

Experiment: Pilot of Pilot

Group: Cage 4

Box: 1

Start Time: 12:59:58

End Time: 14:02:38

MSN: levelNP_CS_reward_laserepochON1st_noshock
```

- We will just find all the lines that start with `"File", "Start Date", "End Date", "Subject", "Experiment", "Group", "Box", "Start Time", "End Time", or "MSN"`. And get the metadata from those lines. And then stop once all the metadata types have been collected

In [12]:
# This makes a nested dictionary of file paths to each individual metadata type
file_path_to_meta_data = extract.metadata.get_all_med_pc_meta_data_from_files(list_of_files=all_med_pc_file)

In [13]:
# The metadata for the first file
for key, value in file_path_to_meta_data.items():
    print("File path: {}".format(key))
    print("Metadata types and associated values: {}".format(value))
    break

File path: ./data/2023-05-31_11h49m_Subject 2.2.txt
Metadata types and associated values: {'File': 'C:\\MED-PC\\Data\\2023-05-31_11h49m_Subject 2.2.txt', 'Start Date': '05/31/23', 'End Date': '05/31/23', 'Subject': '2.2', 'Experiment': 'reward_competition_extention', 'Group': 'CAGE2', 'Box': '3', 'Start Time': '11:49:01', 'End Time': '12:53:07', 'MSN': 'CD1_reward_training'}

## Making a Dataframe out of the Metadata

- A Dataframe is essentially a "programmable" spreadsheet. But instead of clicking on cells, you will have to tell Python how you want to interact with the spreadsheet
    - For more information: https://realpython.com/pandas-dataframe/

In [14]:
# Turning the dictionary into a Pandas Dataframe
metadata_df = pd.DataFrame.from_dict(file_path_to_meta_data, orient="index")
# Resetting the index because currently the file path is the index 
metadata_df = metadata_df.reset_index()

In [15]:
metadata_df.head()

,index,File,Start Date,End Date,Subject,Experiment,Group,Box,Start Time,End Time,MSN
0,./data/2023-05-31_11h49m_Subject 2.2.txt,C:\MED-PC\Data\2023-05-31_11h49m_Subject 2.2.txt,05/31/23,05/31/23,2.2,reward_competition_extention,CAGE2,3,11:49:01,12:53:07,CD1_reward_training
1,./data/2023-05-28_14h33m_Subject 2.4.txt,C:\MED-PC\Data\2023-05-28_14h33m_Subject 2.4.txt,05/28/23,05/28/23,2.4,reward_competition_extention,CAGE2,3,14:33:28,15:40:57,CD1_reward_training
2,./data/2023-05-30_10h28m_Subject 2.2.txt,C:\MED-PC\Data\2023-05-30_10h28m_Subject 2.2.txt,05/30/23,05/30/23,2.2,reward_competition_extention,CAGE2,4,10:28:16,11:37:14,CD1_reward_training
3,./data/2023-06-03_17h13m_Subject 2.2.txt,C:\MED-PC\Data\2023-06-03_17h13m_Subject 2.2.txt,06/03/23,06/03/23,2.2,reward_competition_extention,CAGE2,3,17:13:47,18:21:11,CD1_reward_training
4,./data/2023-05-26_12h01m_Subject 2.2.txt,C:\MED-PC\Data\2023-05-26_12h01m_Subject 2.2.txt,05/26/23,05/26/23,2.2,reward_competition_extention,CAGE2,2,12:01:19,13:02:32,CD1_reward_training

In [16]:
metadata_df.tail()

,index,File,Start Date,End Date,Subject,Experiment,Group,Box,Start Time,End Time,MSN
29,./data/2023-06-01_12h01m_Subject 2.1.txt,C:\MED-PC\Data\2023-06-01_12h01m_Subject 2.1.txt,06/01/23,06/01/23,2.1,reward_competition_extention,CAGE2,3,12:01:37,13:07:41,CD1_reward_training
30,./data/2023-05-31_10h33m_Subject 2.1.txt,C:\MED-PC\Data\2023-05-31_10h33m_Subject 2.1.txt,05/31/23,05/31/23,2.1,reward_competition_extention,CAGE2,4,10:33:44,11:37:29,CD1_reward_training
31,./data/2023-06-04_15h37m_Subject 2.4.txt,C:\MED-PC\Data\2023-06-04_15h37m_Subject 2.4.txt,06/04/23,06/04/23,2.4,reward_competition_extention,CAGE2,4,15:37:42,16:43:48,CD1_reward_training
32,./data/2023-06-02_11h00m_Subject 2.1.txt,C:\MED-PC\Data\2023-06-02_11h00m_Subject 2.1.txt,06/02/23,06/02/23,2.1,reward_competition_extention,CAGE2,3,11:00:52,12:09:55,CD1_reward_training
33,./data/2023-05-28_14h33m_Subject 2.1.txt,C:\MED-PC\Data\2023-05-28_14h33m_Subject 2.1.txt,05/28/23,05/28/23,2.1,reward_competition_extention,CAGE2,4,14:33:28,15:40:57,CD1_reward_training

- Getting the numbers out of the column that contains the cage information

In [17]:
metadata_df["cage"] = metadata_df["Group"].apply(lambda x: x.lower().strip("cage").strip())

In [18]:
metadata_df["cage"].head()

0    2
1    2
2    2
3    2
4    2
Name: cage, dtype: object

- Getting the number of files that are associated with each subject

In [19]:
# How many files there are for each subject
metadata_df.groupby("Subject").count()

,index,File,Start Date,End Date,Experiment,Group,Box,Start Time,End Time,MSN,cage
Subject,,,,,,,,,,,
2.1,11,11,11,11,11,11,11,11,11,11,11
2.2,11,11,11,11,11,11,11,11,11,11,11
2.4,12,12,12,12,12,12,12,12,12,12,12

## Looking over the MED-PC scripts

- MED-PC has scripts(lines of code that act as the instructions for how to operate the MED-PC boxes) that contain the descriptions of what each value in the recordings are. We will extract the descriptions from the MED-PC scripts so that we can label the data points in the MED-PC recordings  
- Below is a list of all the MED-PC Scripts. We will only be looking at the first one

In [20]:
all_medpc_scripts = glob.glob("./**/*.MPC")

In [21]:
all_medpc_scripts

['./data/CD1_reward_training.MPC', './data/CD1_reward_competition.MPC']

- Example of what the MED-PC Script looks like that was ran when recording the behaviors

In [22]:
with open(all_medpc_scripts[0]) as f:
    lines = f.readlines()
    for line in lines[:100]:
        print(line)

\INPUTS



^port = 8





\OUTPUTS

^whitenoise = 1

^tone1 = 2

^tone2 = 3

^pump = 9

^fan = 16

^toneled = 17

^peled = 18







\ARRAYS



DIM P = 20000 \Port entry time stamp array



DIM Q = 250 \US delivery time stamp array (absolute)



DIM R = 250 \US time stamp array (relative to last CS)



DIM W = 2500 \ITI values used for CS



DIM S = 2500 \CS presentation values (absolute - every time yellow light turns on)



DIM N = 20000 \Port exit time stamp array



DIM K = 250 \CS type



DIM G = 250 \controlled_stimulus_seconds computer clock time (seconds on clock every time yellow light/tone turns on)



DIM H = 250 \controlled_stimulus_minutes computer clock time (minutes on clock every time yellow light/tone turns on)



DIM I = 250 \controlled_stimulus_hours computer clock time (hours every time yellow light/tone turns on)



DIM B = 2500 \port_entry_seconds computer clock time (seconds on clock every time red light turns on)



DIM F = 2500 \port_entry_minutes computer clock time (minutes on clock every time red light turns on)



DIM J = 2500 \port_entry_hours computer clock time (hours every time red light turns on)







\Original List of ITIs



LIST V = 80", 90", 80", 75", 100", 95", 90", 80", 90", 100", 90", 120", 90", 85", 90", 95", 120", 80", 95", 80", 90", 80", 75", 100", 95", 90", 80", 90", 100", 90", 120", 90", 85", 90", 95", 90", 80", 90", 100", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90", 90" \, 100", 108", 117", 121", 133", 145", 165" \CS ITI values (tone + houselight)







\Counter and Flag array

DIM C = 6



\are all 1-indexed i.e. 3 port entries means 3 port entries



\C(0) counter for number of port entries



\C(1) counter for CS presentation number



\C(2) counter for US delivery



\C(3) flag to indicate if sucrose is in port =0 if no port entry was made, =1 if port entry was made (i.e., no sucrose)



\C(4) counter for number of port exits



\C(5) number of CS1 (tones)



\C(6) number of sucrose deliveries







\Z-pulses



\Z1: start task after initial delay



\Z2: start of CS



\Z3: port entry



\Z4: port exit



\Z5: trigger CS1



\Z6: turn off CS1 triggers







\Variables



\A - Time since last CS



\B -



\C - Counter array



\D - Current ITI value



\E - CS ITI values for first few trials

- We will be using the comments in the MED-PC script(Everything after the `\` for each line) to create a name for the variables. By default, MED-PC uses a single letter as the name of the variable(programming object that holds some information).
    - This will use the medpc2excel library found in https://github.com/cyf203/medpc2excel
- Example of the variable names and their comments in the MED-PC script that we will get the descriptive names from:
    - MED-PC will squish the first few words to create the name for every variable

```
DIM P = 20000 \Port entry time stamp array

DIM Q = 2500 \US delivery time stamp array (absolute)

DIM R = 2500 \US time stamp array (relative to last CS)

DIM W = 2500 \ITI values used for CS

DIM S = 2500 \CS presentation values (absolute - every time light turns on)

DIM N = 20000 \Port exit time stamp array

DIM K = 2500 \CS type

DIM B = 2500 \shock intensity
```

- In the MED-PC recording files, there are values that are labelled with letters. These data type of these letters is described in the MED-PC script file that we just looked at.

In [23]:
with open(all_med_pc_file[0]) as f:
    lines = f.readlines()
    for line in lines[:20]:
        print(line)

File: C:\MED-PC\Data\2023-05-31_11h49m_Subject 2.2.txt







Start Date: 05/31/23

End Date: 05/31/23

Subject: 2.2

Experiment: reward_competition_extention

Group: CAGE2

Box: 3

Start Time: 11:49:01

End Time: 12:53:07

MSN: CD1_reward_training

A:    4399.000

D:    9000.000

E:       0.000

L:       0.000

M:       0.000

O:       0.000

T:    3660.000

## **NOTE: Please make sure that the corresponding `.mpc` file (aka the MED-PC script) that was ran to create the log file, is also in the same folder as the recording files. This notebook will fail to extract the data from the recording file if it is missing**

- Spreadsheet of the data from the MED-PC recording file for all the files combined into one.
- **NOTE: Each row does not correspond to the same data point. Each row represents the "n"-th data point for each category for each file. AKA, the first row is the first data point for the time the subject entered the port and the first data point for the time that the tone that is played, two seperate things. The second row is the second data point for all the categories, the third row is the third data point and so on. This repeats for all data points in a given file, then it starts over to the next file where the first row of that file is the first for all its data points.**

In [24]:
concatted_medpc_df = extract.dataframe.get_medpc_dataframe_from_list_of_files(medpc_files=all_med_pc_file)

In [25]:
concatted_medpc_df.head()

,(P)Portentry,(Q)USdelivery,(R)UStime,(W)ITIvalues,(S)CSpresentation,(N)Portexit,(K)CStype,(G)controlled_stimulus_secondscomputer,(H)controlled_stimulus_minutescomputer,(I)controlled_stimulus_hourscomputer,(B)port_entry_secondscomputer,(F)port_entry_minutescomputer,(J)port_entry_hourscomputer,date,subject,file_path
0,7.05,64.0,399.0,0.0,60.01,7.19,1.0,7.0,53.0,11.0,14.0,52.0,11.0,20230531,2.2,./data/2023-05-31_11h49m_Subject 2.2.txt
1,7.22,144.0,399.0,0.0,140.01,7.34,1.0,27.0,54.0,11.0,14.0,52.0,11.0,20230531,2.2,./data/2023-05-31_11h49m_Subject 2.2.txt
2,8.15,234.0,399.0,0.0,230.01,8.17,1.0,57.0,55.0,11.0,15.0,52.0,11.0,20230531,2.2,./data/2023-05-31_11h49m_Subject 2.2.txt
3,12.36,314.0,399.0,0.0,310.01,13.10,1.0,17.0,57.0,11.0,19.0,52.0,11.0,20230531,2.2,./data/2023-05-31_11h49m_Subject 2.2.txt
4,13.94,389.0,399.0,0.0,385.01,14.16,1.0,32.0,58.0,11.0,20.0,52.0,11.0,20230531,2.2,./data/2023-05-31_11h49m_Subject 2.2.txt

In [26]:
concatted_medpc_df.tail()

,(P)Portentry,(Q)USdelivery,(R)UStime,(W)ITIvalues,(S)CSpresentation,(N)Portexit,(K)CStype,(G)controlled_stimulus_secondscomputer,(H)controlled_stimulus_minutescomputer,(I)controlled_stimulus_hourscomputer,(B)port_entry_secondscomputer,(F)port_entry_minutescomputer,(J)port_entry_hourscomputer,date,subject,file_path
6003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,20230528,2.1,./data/2023-05-28_14h33m_Subject 2.1.txt
6004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,20230528,2.1,./data/2023-05-28_14h33m_Subject 2.1.txt
6005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2544.0,NaN,NaN,20230528,2.1,./data/2023-05-28_14h33m_Subject 2.1.txt
6006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,NaN,NaN,20230528,2.1,./data/2023-05-28_14h33m_Subject 2.1.txt
6007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,20230528,2.1,./data/2023-05-28_14h33m_Subject 2.1.txt

- Combining the recording and the metadata into one dataframe

In [27]:
recording_and_metadata_df = concatted_medpc_df.merge(metadata_df, left_on='file_path', right_on='index')

In [28]:
recording_and_metadata_df.head()

,(P)Portentry,(Q)USdelivery,(R)UStime,(W)ITIvalues,(S)CSpresentation,(N)Portexit,(K)CStype,(G)controlled_stimulus_secondscomputer,(H)controlled_stimulus_minutescomputer,(I)controlled_stimulus_hourscomputer,...,Start Date,End Date,Subject,Experiment,Group,Box,Start Time,End Time,MSN,cage
0,7.05,64.0,399.0,0.0,60.01,7.19,1.0,7.0,53.0,11.0,...,05/31/23,05/31/23,2.2,reward_competition_extention,CAGE2,3,11:49:01,12:53:07,CD1_reward_training,2
1,7.22,144.0,399.0,0.0,140.01,7.34,1.0,27.0,54.0,11.0,...,05/31/23,05/31/23,2.2,reward_competition_extention,CAGE2,3,11:49:01,12:53:07,CD1_reward_training,2
2,8.15,234.0,399.0,0.0,230.01,8.17,1.0,57.0,55.0,11.0,...,05/31/23,05/31/23,2.2,reward_competition_extention,CAGE2,3,11:49:01,12:53:07,CD1_reward_training,2
3,12.36,314.0,399.0,0.0,310.01,13.10,1.0,17.0,57.0,11.0,...,05/31/23,05/31/23,2.2,reward_competition_extention,CAGE2,3,11:49:01,12:53:07,CD1_reward_training,2
4,13.94,389.0,399.0,0.0,385.01,14.16,1.0,32.0,58.0,11.0,...,05/31/23,05/31/23,2.2,reward_competition_extention,CAGE2,3,11:49:01,12:53:07,CD1_reward_training,2

## Getting the cage numbers and the dates so that we can include it in the file name

- We will get the metadata from the recording files and use it to name the files we will create. This will help organize the files and make it easy to know where each file came from

- Getting the group numbers(original cage names)

In [29]:
# removing blank spaces
group_numbers = ["_".join(number.split()) for number in recording_and_metadata_df["Group"].unique() if number]
# sorting numbers
group_numbers = sorted(group_numbers)
group_numbers_for_title = "_".join(group_numbers)

In [30]:
group_numbers_for_title

'CAGE2'

- Getting the cage numbers

In [31]:
# removing blank spaces
cage_numbers = ["_".join(number.split()) for number in recording_and_metadata_df["cage"].unique() if number]
# sorting numbers
cage_numbers = sorted(cage_numbers)
cage_numbers_for_title = "_".join(cage_numbers)

In [32]:
cage_numbers_for_title

'2'

- Getting the dates

In [33]:
# Getting the first and last recording date to get a range
earliest_date = recording_and_metadata_df["date"].min()
latest_date = recording_and_metadata_df["date"].max()

In [34]:
earliest_date

'20230526'

In [35]:
latest_date

'20230606'

- Getting the subject names

In [36]:
recording_and_metadata_df["Subject"].unique()

array(['2.2', '2.4', '2.1'], dtype=object)

In [37]:
# removing blank spaces
subject_numbers = [number for number in recording_and_metadata_df["Subject"].unique() if number]
# sorting numbers
subject_numbers = sorted(subject_numbers)
subject_numbers_for_title = "subj_{}".format("_".join(subject_numbers))

In [38]:
subject_numbers_for_title

'subj_2.1_2.2_2.4'

- Getting the experiment name

In [39]:
experiment_names = ["_".join(name.split()) for name in recording_and_metadata_df["Experiment"].unique() if name]
# sorting experiment_names
experiment_names = sorted(experiment_names)
experiment_names_for_title = "AND".join(experiment_names)

In [40]:
experiment_names_for_title

'reward_competition_extention'

- Getting the box numbers

In [41]:
# removing blank spaces
box_numbers = ["_".join(number.split()) for number in recording_and_metadata_df["Box"].unique() if number]
# sorting numbers
box_numbers = sorted(box_numbers)
box_numbers_for_title = "_".join(box_numbers)

In [42]:
box_numbers_for_title

'1_2_3_4'

- Getting the script names

In [43]:
# removing blank spaces
script_names = ["_".join(name.split()) for name in recording_and_metadata_df["MSN"].unique() if name]
# sorting names
script_names = sorted(script_names)
script_names_for_title = "_".join(script_names)

In [44]:
script_names_for_title

'CD1_reward_training'

## Saving the dataframes(spreadsheets to files) with the metadata as part of the name

- Making necessary directories
    - If you want to use any of the other metadata as part of the name, you will have to swap out the variables in the `format()` and change the name of the folder to match your new name. The variable names are the word that's in front of the `=` at the last line of each cell. The `{}` are where the metadata variables will be inserted into the file name. For more information on formatting strings: https://www.w3schools.com/python/ref_string_format.asp
    - You can also just manually rename the files by replacing everything in `""` and removing the `.format()` part
- **NOTE: You may get an error that the file does not exist. If this is the case, it could be the file name is too long(an issue that may happen when using Jupyter Notebooks on Windows)**

In [45]:
output_directory = "./proc/extracted_recording_data_and_metadata/experiment_{}_cage_{}_date_{}_{}".format(experiment_names_for_title, cage_numbers_for_title, earliest_date, latest_date)

In [46]:
output_directory

'./proc/extracted_recording_data_and_metadata/experiment_reward_competition_extention_cage_2_date_20230526_20230606'

In [47]:
os.makedirs(output_directory, exist_ok=True)

In [48]:
metadata_df.to_csv(os.path.join(output_directory, "metadata_cage_{}_date_{}_{}.csv".format(cage_numbers_for_title, earliest_date, latest_date)))
# metadata_df.to_excel(os.path.join(output_directory, "metadata_cage_{}_date_{}_{}.xlsx".format(cage_numbers_for_title, earliest_date, latest_date)))

In [49]:
concatted_medpc_df.to_csv(os.path.join(output_directory, "MEDPC_recording_cage_{}_date_{}_{}.csv".format(cage_numbers_for_title, earliest_date, latest_date)))
# concatted_medpc_df.to_excel(os.path.join(output_directory, "MEDPC_recording_cage_{}_date_{}_{}.xlsx".format(cage_numbers_for_title, earliest_date, latest_date)))

In [50]:
recording_and_metadata_df.to_csv(os.path.join(output_directory, "recording_metadata_cage_{}_date_{}_{}.csv".format(cage_numbers_for_title, earliest_date, latest_date)))
# recording_and_metadata_df.to_excel(os.path.join(output_directory, "recording_and_metadata_cage_{}_date_{}_{}.xlsx".format(cage_numbers_for_title, earliest_date, latest_date)))